.mapouter{
    margin-top: 50px;
    border: 5px solid rgb(88, 138, 184);
    position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}
#body{
width:20%;

background-color: teal;
padding:20px;
border: 3px solid rgb(133, 49, 49);
align-items: center;
margin-top: 50px;
}
*{
background-color: rgb(122, 174, 195);
}
#full{
display: flex;
width:82%;
margin: auto;
}
#query,#btn{
height: 30px;
border-radius: 20px;
padding-left: 15px;
width:90%;
}
#h{

width:70%;
margin:auto;
margin-bottom: -40px;
justify-content: sp;
}
.img{
height:40px;
margin-top: 10px;
}
h3{
margin-left: 20%;
}

.weekly img{
 height:70px;
 width:80px
}
.weekly{
justify-content:space-evenly;
 display:flex;
 background-color: rgb(221, 224, 226);
}
.weekly div{

 text-align: center;
 background-color: rgb(241, 241, 241);
}
.weekly div:hover{
background-color: green;
cursor: pointer;

}
.weekly p{
 color:rgb(29, 12, 12)
}
